:root {
  /* CSS HEX */
  --flame: #d36135ff;
  --mint-cream: #f4fff8ff;
  --cadet-gray: #8baaadff;
  --charcoal: #334e58ff;
  --nice-purple: #7d8cc4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-padding: 10vh;
}

body {
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: var(--mint-cream);
  position: relative;
}

html {
  scroll-behavior: smooth;
}

h2 {
  font-size: 3rem !important;
}

.inceput,
.div1,
.div2,
.div3,
.div4,
.div5 {
  margin-left: 5vw;
  margin-right: 5vw;
  align-self: center;
  width: 70%;
  height: 40vh;
}

hr {
  display: block;
  border-radius: 10px;
  align-self: center;
  margin: 5vh;
  opacity: 0;
}

/* navbar */
.navbar {
  background-color: var(--mint-cream);
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 8vh;
  border-bottom: none;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  z-index: 10;
}

.navbar div img {
  height: 5vh;
  width: auto;
}

.logo img[alt="Logo"] {
  margin-top: 2vh;
  height: 10vh;
}

.navbar div {
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 7px;
}

.navbar div p {
  font-size: 1.3rem;
}

.menu-btn {
  background-color: var(--mint-cream);
}

a {
  text-decoration: none;
  color: black;
}

img {
  align-self: center;
  width: 40vw;
  margin-top: 0;
}

.orientare {
  margin-right: 10vw;
}

/* svg icon */
svg {
  height: 6vh;
  width: min-content;
}
.ham {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.hamRotate.active {
  transform: rotate(45deg);
}
.hamRotate180.active {
  transform: rotate(180deg);
}
.line {
  fill: none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke: #000;
  stroke-width: 5.5;
  stroke-linecap: round;
}

.ham4 .top {
  stroke-dasharray: 40 121;
}
.ham4 .bottom {
  stroke-dasharray: 40 121;
}
.ham4.active .top {
  stroke-dashoffset: -68px;
}
.ham4.active .bottom {
  stroke-dashoffset: -68px;
}
/* end */

.meniu {
  position: relative;
}

.meniu p {
  position: absolute;
  left: 5vh;
}

/* inceput */
.inceput {
  height: 70vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(img_src/poza_magazin.jpg);
  background-repeat: no-repeat;
  background-position: 20%;
  background-size: cover;
}

h1 {
  font-size: 5rem;
  margin: 3vw;
  color: rgba(250, 245, 245, 0.837);
}

.inceput p {
  color: white;
  font-size: 1.7rem;
  width: 80%;
  text-align: center;
}

/* div1 */

.div1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #dee2e6;
  width: 100%;
  height: 80vh;
}

#Dsprn {
  position: relative;
  top: -7vh;
}

.div1 h2 {
  text-align: center;
  margin-bottom: 5vh;
  margin-top: 5vh;
  font-size: 2rem;
  color: black;
  font-weight: 700;
}

.despre-noi {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: fit-content;
  margin-bottom: 100px;
}

img[src="img_src/despre-noi.jpeg"] {
  width: 30%;
  margin-left: 10vh;
  border-radius: 10px;
}

.div1 p {
  font-size: 1.5rem;
  color: black;
  margin-left: 5vw;
  margin-right: 5vw;
  margin-bottom: 10px;
}

/* div2  */
.div2 {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-bottom: 10vh;
  height: fit-content;
}

.serv > div {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  width: min-content;
  box-shadow: 10px 20px 30px rgba(0, 0, 0, 0.188);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

#Serv {
  position: relative;
  top: -7vh;
}

.serv {
  display: flex;
  justify-content: space-between;
}

h2 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 3vh;
}

.serv > div > img {
  width: 20vw;
  height: auto;
  border-radius: 10px 10px 0 0;
}

.serv > div > p {
  margin: 10px;
  overflow: auto;
}

.div2 h3 {
  text-align: center;
  margin-top: 2vh;
  font-size: 1.5rem;
}

/* div3 */
.div3 {
  display: flex;
  flex-direction: column;
  height: 55vh;
}

/* div5 */

.tot-contact {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  height: 110vh;
  width: 100%;
  background-color: #dee2e6;
}

.tot-contact > h2 {
  position: absolute;
  left: 50%;
  top: 5vh;
  transform: translate(-50%);
}

/* div4 */
.div4 {
  height: 70vh;
  background: #000;
  margin-right: 0;
}

iframe {
  height: 70vh;
  width: 100%;
}

.div5 {
  display: flex;
  height: 70vh;
  width: 100%;
  background: #fff;
  margin-left: 0px;
}

.elemente-de-contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5% 0 10% 5%;
  width: 50%;
  gap: 3vw;
}

.elemente-de-contact > div {
  display: flex;
  align-items: center;
  height: min-content;
  padding: 10px;
  gap: 10px;
  border: 2px solid #868e96;
  background: #adb5bd;
  border-radius: 10px;
  width: 80%;
}

.elemente-de-contact > div:hover,
.program:hover {
  cursor: default;
}

.program {
  align-self: center;
  height: fit-content;
  border: 2px solid #868e96;
  background: #adb5bd;
  border-radius: 10px;
  padding: 20px;
}

li {
  font-size: 1.2rem;
}

.program h3 {
  margin-bottom: 10px;
}

ul {
  list-style: none;
}

.zile {
  font-weight: 500;
}

.detalii {
  width: 100%;
  overflow: auto;
}

.titlu {
  font-size: 2rem;
}

.titlu::after {
  display: block;
  content: "";
  height: 5px;
  width: 15%;
  border-radius: 10px;
  margin-top: 2vh;
  background: #000;
}

/* dropdown menu  */
button {
  border: none;
  cursor: pointer;
}

.overlay {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100vw;
  z-index: 2;
}

.dropdown-menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: fixed;
  left: -20vw;
  top: 8vh;
  height: 100vh;
  width: 20vw;
  background-color: rgb(212, 227, 228);
  border-right: 2px solid black;
  z-index: 10;
  transition: 0.4s;
}

.dropdown-menu.active {
  left: 0;
}

.dropdown-menu p {
  margin-left: 5vw;
  padding: 5vh 0;
  font-size: 1.5rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.dropdown-menu a:hover {
  color: rgb(43, 43, 43);
}

/* footer */
footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 10vh;
  border-top: 2px solid rgb(222, 222, 222);
  background: #495057;
}

footer a {
  /* align-self: center; */
  color: rgb(179, 179, 179);
  margin-left: 10px;
}

footer p {
  font-size: 1rem;
  color: rgb(179, 179, 179);
}

@media all and (max-height: 700px) {
  .div1 {
    height: 60vh;
  }
  .div3 {
    margin-top: 10vh;
  }
  .comm div {
    height: 40vh;
  }
}

@media all and (max-height: 1500px) {
  .div1 {
    height: 100vh;
  }
}

@media screen and (max-width: 960px) {
  .navbar p {
    display: none;
  }
  .navbar {
    justify-content: space-around;
  }
  .div1,
  .div2,
  .div3,
  .div5 {
    height: fit-content;
  }

  /* sericii */
  .serv {
    flex-direction: column;
    gap: 10vw;
  }

  .serv > div {
    width: 100%;
  }

  .serv div img {
    width: 80%;
    height: auto;
  }

  /* comentarii */
  .comm {
    flex-direction: column;
    gap: 5vh;
  }
  .comm div {
    width: 100%;
  }

  /* cere oferta */
  .div5 {
    display: table-column;
    width: 80%;
  }

  .elemente-de-contact > div {
    width: 180%;
    overflow: auto;
  }

  .program {
    margin-left: 10%;
    margin-bottom: 10%;
    width: 80%;
  }

  /* sliding menu */
  .dropdown-menu {
    width: 50vw;
    left: -50vw;
  }

  .dropdown-menu.active {
    left: 0;
  }

  .trimite-mesaj {
    width: 50%;
  }
}
